
.container{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    
}

.inputAdd{
    flex: 1;
    display: flex;
    // align-items: center;
    // justify-content: center;
}


.input{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid transparent;
   padding: 15px 15px;
    font-size: 16px;
    flex: 1;
    // border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    &:focus{
        // transition: 0.3s;
        border: 1px solid rgb(173, 159, 185);
        // filter: drop-shadow(-15px 3px 27px #000);

    }
    &:hover{
        // transition: 0.3s;
        border: 1px solid rgb(213, 202, 224);
    }

}
.button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    background-color: rgb(152, 67, 231);
    flex: 0.2;
    border: 1px solid transparent;
    // border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    &:hover{
        background-color: darken(rgb(152, 67, 231), 10%);
        color: white;
        transition: 0.3s;

    }

}