.container {
  cursor: pointer;
  border-radius: 6px;
  margin-top: 20px;
  background-color: rgb(135, 141, 141);
  &:hover {
    background-color: darken(rgb(135, 141, 141), 10%);
    transition: 0.3s background-color;
  }
}
.task {
  display: grid;
  grid-template-columns: 1fr 30px 30px;
  align-items: center;
  padding: 0 10px;
  
}



.editBtn {
  &:hover {
    // fill: darken(rgb(152, 67, 231),10%);
    stroke: darken(rgb(152, 67, 231), 10%);
    transition: 0.1s;
  }
}
.deleteBtn {
  &:hover {
    fill: darken(rgb(152, 67, 231), 10%);
    transition: 0.1s;
  }
}

.completed{
  cursor: pointer;
  border-radius: 6px;
  margin-top: 20px;
  text-decoration-line: line-through;
  // background-image: linear-gradient( 110.1deg,  rgba(34,126,34,1) 2.9%, rgb(137, 204, 50) 90.3% );

background: linear-gradient(to right, #237A57, #11584a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}