.container {
  cursor: pointer;
  margin-top: 20px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  background-color: rgb(135, 141, 141);
  &:hover {
    background-color: darken(rgb(135, 141, 141), 10%);
    transition: 0.3s background-color;
  }
}
.task {
  display: grid;
  grid-template-columns: 1fr 30px 30px;
  align-items: center;
  padding: 0 10px;

  // justify-content: space-between;
}

.text {
}

.editBtn {
  &:hover {
    // fill: darken(rgb(152, 67, 231),10%);
    stroke: darken(rgb(152, 67, 231), 10%);
    transition: 0.1s;
  }
}
.deleteBtn {
  &:hover {
    fill: darken(rgb(152, 67, 231), 10%);
    transition: 0.1s;
  }
}
